*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  grid-template-columns: 400px 400px 1fr;
  display: grid;
}

.year-button {
  font-size: 150px;
  height: 200px;
  width: 400px;
  outline: none;
}

.month-button {
  display: inline;
  font-size: 75px;
  width: 200px;
  height: 100px;
  outline: none;
}

.btn-selected {
  background-color: red;
}

.result__text {
  font-size: 30px;
}

.result__data {
  color: #3a3a3a;
}
